// AngularUI "UI Bootstrap" adjustments
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

// Classes to hide html before AngularJs has loaded
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.row-table {
    padding: @table-cell-padding;
    line-height: @line-height-base;
    vertical-align: top;
    border-top: 1px solid @table-border-color;
}
