<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
        <script src="Demo2Controller.js"></script>
        <title>Simple demo 2</title>
    </head>
    <body >
        <form ng-submit="addContact()" ng-controller="Demo2Controller">

            Enter mailaddress for a new contact: <input type="text" ng-model="newContact" />
            <input type="submit" value="Add" />

            <h2>Contacts</h2>

            <ul>
                <li ng-repeat="contact in contacts">{{ contact }}</li>
            </ul>
        </form>
    </body>
</html>
